

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .navbar {
    background-color: #333333;
}

body.dark-mode .chart-container {
    background-color: #222222;
    border-color: #444444;
}

body.dark-mode .form-select {
    background-color: #333333;
    color: #ffffff;
    border-color: #444444;
}


